name: CI Server
on:
  push:
    branches:
    - main
    
env:
  IntegrationType: Jira_Server
  
jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
        clean: false
        
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'
      
    - name: xml-replace-action
      uses: rvolo/xml-replace-action@v0.3
      with:
        filepath: '${{ github.workspace}}/.github/workflows/test.xml'
        xpath: '/Project/PropertyGroup/Version/text()'
        replace: GITHUB_RUN_NUMBER
    
    - name: Get XML
      id: getxml
      uses: mavrosxristoforos/get-xml-info@1.0
      with:
        xml-file: '.github/workflows/test.xml'
        xpath: '//project'
        
    - name: Restore dependencies
      run: dotnet restore ./ShoppingSystem/
               
    - name: Build
      run: dotnet build --configuration Release --no-restore ./ShoppingSystem/
      
    - name: Test
      run: dotnet test --no-restore --no-build --configuration Release ./ShoppingSystem/
      
    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action/composite@v1
      if: always()
      with:
        files: test-results/**/*.xml
        
    - uses: papeloto/action-zip@v1
      with:
        files: dist/ manifest.json
        dest: result.zip
        
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.3
      with:
        name: myartifact
        path: path/to/artifact/world.txt
